.progress-bar {
    background-color: lawngreen;
    color: white;
    font-weight: bold;
    text-align: center;
}

.btn-red {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
}

.btn-red:hover {
    background-color: #e04343;
    color: #fff;
}
